<% include ./partials/header.ejs %>
<div class="row">
  <div class="col-xs-12 col-md-8">
     <h1> What part of Colorado would you like to camp in?</h1>
        <ul>
          <br>
          <li><a href="north.ejs">North</li>
          <br>
          <li>South</li>
          <br>
          <li>East</li>
          <br>
          <li><a href="west.ejs">West</li>
        </ul>
  </div>
  <div class="col-xs-6 col-md-4">
    <h2>Helpful Camping Sites</h2>
  </div>
</div>
<% include ./partials/footer.ejs %>




