<% include ./partials/header.ejs %>
<body id="landingPage">
<div class="row">
  <div class="col-xs-12 col-md-8">
     <h1> What part of Colorado would you like to camp in?</h1>
        <hr>
        <ul>
          <br>
          <li><a href="/north">North</a></li>
          <br>
          <li>South</li>
          <br>
          <li>East</li>
          <br>
          <li><a href="/west">West</a></li>
        </ul>
  </div>
  <div class="col-xs-6 col-md-4">
    <h2>Helpful Camping Sites</h2>
      <hr>
      <ul>
        <br>
        <li><a href="http://blog.rei.com/camp/12-tips-camping-rain/">Camping in the Rain</a></li>
        <br>
        <li><a href="http://www.lovetheoutdoors.com/camping/checklists.htm">Camping Checklist</a></li>
        <br>
        <li><a href="http://www.colorado.com/articles/camping-colorado-basics">Tips for camping in Colorado</a></li>
        <br>
        <li><a href="https://www.reserveamerica.com/outdoors/how-to-start-a-campfire.htm">How to start a camp fire</a></li>
      </ul>
  </div>
</div>
</body>
<% include ./partials/footer.ejs %>




