<% include ./partials/header.ejs %>
<h1> What part of Colorado would you like to camp in?</h1>
<ul>
	<li><a href="north.ejs">North</li>
	<li>South</li>
	<li>East</li>
	<li>South</li>
</ul>
<% include ./partials/footer.ejs %>