<% include ./partials/header.ejs %>
<section id='campsite-form' class="container">
   <div class="row">
      <div class="col-md-10 col-md-offset-1">
         <form id="north" class="form-horizontal">
            <fieldset>
               <!-- Form Name -->
               <legend>Add New Campsite to Northern Colorado</legend>
               <!-- Text input-->
               <div class="form-group">
                  <label class="col-md-4 control-label" for="campsite">Campsite</label>
                  <div class="col-md-4">
                     <input id="name" name="campsite" type="text" placeholder="" class="form-control input-md" required="">
                  </div>
               </div>
               <!-- Text input-->
               <div class="form-group">
                  <label class="col-md-4 control-label" for="latitude">Latitude</label>
                  <div class="col-md-4">
                     <input id="latitude" name="latitude" type="text" placeholder="" class="form-control input-md">
                  </div>
               </div>
               <!-- Text input-->
               <div class="form-group">
                  <label class="col-md-4 control-label" for="longitude">Longitude</label>
                  <div class="col-md-4">
                     <input id="longitude" name="longitude" type="text" placeholder="" class="form-control input-md">
                  </div>
               </div>
               <!-- Textarea -->
               <div class="form-group">
                  <label class="col-md-4 control-label" for="directions">Directions</label>
                  <div class="col-md-4">
                     <textarea class="form-control" id="directions" name="directions"></textarea>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-md-4 control-label" for="weather">Weather</label>
                  <div class="col-md-4">
                     <textarea class="form-control" id="weather" name="weather"></textarea>
                  </div>
               </div>
               <!-- <div class="form-group">
                  <label class="col-md-4 control-label" for="weather">Weather</label>
                  <div class="col-md-4">
                  <input id="releaseDate" name="weather" type="text" placeholder="" class="form-control input-md">
                  
                  </div>
                  </div> -->
               <!-- Button -->
               <div class="form-group">
                  <label class="col-md-4 control-label" for="singlebutton">Share Campsite</label>
                  <div class="col-md-4">
                  </div>
               </div>
            </fieldset>
            <button id="singlebutton" name="singlebutton" type="submit" class="btn btn-primary"/>Post</button>

         </form>
      </div>
   </div>
</section>
<!--   END FORM SAMPLE -->
<section class="container">
   <div class="row">
      <div class="col-md-10 col-md-offset-1">
         <h2>Campsites</h2>
      </div>
   </div>
   <!-- albums! -->
   <div id='campsites'>
      <div class='panel-footer'></div>
   </div>
   </div>
   </div>
   </div>
   </div>
</section>
<% include ./partials/footer.ejs %>